<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <!--a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a> -->
    <h1>Augmented Reality Experiments</h1>
    <p>Here are AR and VR experiences created with WebGL.</p>
    <a type="button" class="btn btn-lg btn-default" href="/vr-example"><span class="glyphicon glyphicon-flash"></span> First Experiment</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://bitbucket.org/sharner/ar-play"><span class="glyphicon glyphicon-download"></span> Source</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Not much here yet!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Add description here.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">This app runs on Heroku</a></li>
        <li><a href="http://threejs.org">Learning Three JS</a></li>
      </ul>
    </div>
  </div> <!-- row -->

</div>


</body>
</html>
